#body {font-family: coustard;
  font-size: 1.5em;
  color: #000000;
  text-align: center;
  line-height: 1.45em;
  letter-spacing: normal;
  word-spacing: normal;
  max-width: 100%;
  height: ;
  margin: 10px;
  padding: 20px;}

#content {background-color: #fbfbf5;
  border-style: solid;
  border-width: 10px;
  border-color: #364b73;}

h1 {font-family: coustard;
  font-size: 3em;
  color: #d5cdc5;
  text-align: center;}
h2 {font-family: coustard;
  font-size: 2em;
  color: #8c8e90;
  line-height: 1.45;
  letter-spacing: normal;
  word-spacing: normal;}

#header {line-height: 3.75em;
  letter-spacing: normal;
  word-spacing: normal;
  background-color: #5e001d;
  max-width: 100%;
  height: ;
  margin: 0px;
  padding: 0px;}

#footer {font-family: coustard;
  font-size: .75em;
  color: #fbfbf5;
  text-align: center;
  line-height: 1.25em;
  letter-spacing: normal;
  word-spacing: normal;
  background-color: #5e001d;
  max-width: 100%;
  height: ;
  margin: 0px;
  padding: 0px;}
